<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>

  <body>
    <!--Site content-->
    <div class="site-wrapper">
      <%- include('../partials/header.ejs') %>
      <main class="gallery-wrapper">

        <!-- Single Image -->
        <img src="/<%= image.pathURL %>" alt="<%= image.title %>">
      </main>
    </div>
    <footer class="footer"><%- include('../partials/footer.ejs') %></footer>
  </body>
</html>
